#main {
   background-image: url('C:/Users/2308240/OneDrive - Cognizant/Documents/Office_documents/PROJECT/Frontend/OBSUI/src/assets/images/backgroundimage8.jpg');
   background-repeat: no-repeat;
   background-size: cover;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;  /*Adjust as needed */
  
  }
  .sidebar-offcanvas {
   width: 1000%; /* Adjust the width as needed */
   max-width: 400px; /* Maximum width */
   padding: 20px;
   /* margin: 10 10px; Add margin for spacing */
   border: 100px solid transparent; /* Example border style */
   border-radius: 10px; /* Example border radius */
   background-color: transparent; /* Example background color */
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Example box shadow */
  }
  .nav-button {
   padding: 10px 20px;
   background-color: #007bff; /* Example button background color */
   color: #fff; /* Example button text color */
   border: none;
   border-radius: 5px;
   cursor: pointer;
   transition: background-color 0.3s ease;
  }
  .nav-button:hover {
   background-color: #0056b3; /* Example button hover background color */
  }
  
 