/* .container{
    background-image: url('C:/Users/2308240/OneDrive - Cognizant/Documents/Office_documents/PROJECT/Frontend/OBSUI/src/assets/images/backgroundimage3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding-left: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 0px;
} */